SilnySolver
SilneTesty

Dev/*.cpp~
Dev/*.h~
Dev/build/*.o
Dev/build/*.d
Dev/build/*.log
Dev/build/SilnySolver

Test/*.cpp~
Test/*.h~
Test/build/*.o
Test/build/*.d
Test/build/*.log
Test/build/SilneTesty

GUI/SilnySolverGUI.pro.user
GUI/build/Release
GUI/build/Debug
build-SilnySolverGUI*


.temp
build.log

*.exe
tags
Dev/build/SilnySolver.exe
types_c.taghl

Test/build/testLib.a
