332_crazy.odt

SilnySolver
SilneTesty

Dev/*.cpp~
Dev/*.h~
Dev/build/*.o
Dev/build/*.d
Dev/build/*.log
Dev/build/SilnySolver

Dev/build/SilnySolver.exe

Test/*.cpp~
Test/*.h~
Test/build/*.o
Test/build/*.d
Test/build/*.log
Test/build/SilneTesty

.temp

*.exe
