SilnySolver
SilneTesty

Dev/build/*.log
Dev/build/SilnySolver
*.o
*.d
*.a

Test/*.cpp~
Test/*.h~
Test/build/*.o
Test/build/*.d
Test/build/*.log
Test/build/SilneTesty

GUI/SilnySolverGUI.pro.user
GUI/build/Release
GUI/build/Debug
GUI/design/*\.autosave
build-SilnySolverGUI*

.temp
build.log

*.exe
tags
Dev/build/SilnySolver.exe
types_c.taghl

Test/build/testLib.a
